<!-- {{ roomsForm.pristine | json }}
{{ roomsForm.dirty | json }}
{{ roomsForm.valid | json }}
{{ roomsForm.invalid | json }}
{{ roomsForm.value | json }} -->

<div *ngIf="successMsg !== ''" class="alert alert-success">
  {{ successMsg }}
</div>

<form #roomsForm="ngForm" (ngSubmit)="AddRoom(roomsForm)">
  <div class="form-group">
    <input
      required
      class="form-control"
      type="text"
      name="roomType"
      [(ngModel)]="room.roomType"
      placeholder="Room Type"
      [ngModelOptions]="{updateOn:'blur'}"
    />
  </div>
  <div class="form-group">
    <!-- pattern="^[a-zA-Z0-9_.-]*$" -->
    <input
      #rooomamenities="ngModel"
      required
      minlength="5"
      maxlength="20"
      class="form-control"
      type="text"
      name="amenities"
      [(ngModel)]="room.amenities"
      placeholder="Amenities"
    />
    <div
      class="alert alert-danger"
      *ngIf="rooomamenities.errors?.['minlength']"
    >
      Amentities should be min 5 chars!
    </div>

    <div *ngIf="rooomamenities.dirty && rooomamenities.errors?.['required']">
      Please provide the amenities
    </div>
  </div>
  <div class="form-group">
    <input
      required
      class="form-control"
      type="number"
      name="price"
      [(ngModel)]="room.price"
      placeholder="Room Price"
    />
  </div>
  <div class="form-group">
    <input
      required
      class="form-control"
      type="text"
      name="photos"
      [(ngModel)]="room.photos"
      placeholder="Photos (link)"
    />
  </div>
  <div class="form-group">
    <input
      required
      class="form-control"
      type="datetime"
      name="checkinTime"
      [(ngModel)]="room.checkinTime"
      placeholder="Check-in Time"
    />
  </div>
  <div class="form-group">
    <input
      required
      class="form-control"
      type="datetime"
      name="checkoutTime"
      [(ngModel)]="room.checkoutTime"
      placeholder="Check-out Time"
    />
  </div>
  <div class="form-group">
    <input
      required
      min="1"
      max="5"
      class="form-control"
      type="number"
      name="ratting"
      [(ngModel)]="room.rating"
      placeholder="Ratting"
    />
  </div>
  <div>
    <button
      [disabled]="roomsForm.invalid"
      class="btn btn-primary"
      type="submit"
    >
      Submit
    </button>
  </div>
</form>
